.navbar-brand>img{
    height: 50px;
}

/* mobile */



/* ipad */
@media screen and (min-width:768px) {
    body {
        background-color: pink;
    }

}

/* 992 */
@media screen and (min-width:992px) {
    body {
        background-color: lightgreen;
    }
    .navbar-brand>img{
        height: 70px;
    }

}

/* 1200 */
@media screen and (min-width:1200px) {
    body {
        background-color: lightcyan;
    }
    .navbar-brand>img{
        height: 70px;
    }

}